/* This is the custom CSS for few self defined classes and to override Bootstrap classes. */

:root {
  --minionsYellow: #ffe135;
  --minionsBlue: #002c6c;
  --minionsBG: #ffe135a8;
}

body 
{
  background-color: var(--minionsBG); /* Minions yellow BG */
  color: var(--minionsBlue); /* Minions blue */
  font-family: 'Comic Sans MS', cursive, sans-serif !important;
  font-family: system-ui;
}


/*LOGIN*/
.card {
  border: 1px solid var(--minionsBlue);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card-header {
  background-color: var(--minionsBlue);
  color: #ffe135;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.btn-primary, .btn-success {
  background-color: var(--minionsBlue);
  border: none;
}
.btn-primary:hover, .btn-success:hover {
  background-color: var(--minionsYellow);
  color: var(--minionsBlue);
}
.form-control {
  border: 1px solid var(--minionsBlue);
}
.form-label {
  font-weight: bold;
}
.minion-logo {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 24%;
}


/*LOGIN ENDS*/


.description-column {
  max-width: 200px; /* Set a reasonable max width */
  word-wrap: break-word; /* Ensures long content breaks into a new line */
  white-space: normal; /* Allows text wrapping */
}

.bannerimg {
  background-image: url('../Images/Banner-img.jpg'); 
  background-size: cover; 
  background-position: center
}

.display-3{
  font-weight: 900;
}

.table-responsive {
  border-radius: 1.5rem;
}

.content-section 
{
  padding: 20px 0;
  overflow-x: auto;
}

.add-btn 
{
  margin-bottom: 20px;
}

.table thead th 
{
  background-color: #141414;
  color: white;
}

tr 
{
  font-weight: 700;
}

.required-asterisk 
{
  content: " *";
  color: red;
}

.error 
{
  color: red;
}

footer 
{
  margin-top: 50px;
  padding: 20px 0;
}

.feedback-section {
  letter-spacing: 1px;
}

.card-body button {
  margin-top: 1em;
}

.field-error-icon {
  width: 1em;
  height: 1em;
}

.field-error-container {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.3em;
}

.field-error-container p {
  margin-bottom: 0;
  font-size: 0.9em;
}